<footer>
  <div class="container-fluid bg-body-tertiary text-center">
    <div class="social-links">
      <p>Follow us on:</p>
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-twitter"></i>
    </div>
    <ul class="footer-links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <p>
      &copy; <%= new Date().getFullYear() %> Wanderlust. All rights reserved.
    </p>
  </div>
</footer>
