<% layout("/layouts/boilerplate") %>
<body>
  <h3 class="heading">Create a New Listing</h3>
  <div class="create-form">
    <form class="row g-3" action="/listings" method="POST">
      <div class="col-12">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="listing[title]" id="title" placeholder="max 35 characters" required>
      </div>
      <div class="col-12">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" class="form-control" name="listing[description]" id="description" rows="5" required></textarea>
      </div>
      <div class="col-8">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" name="listing[price]" id="price" required>
      </div>
      <div class="col-md-6">
        <label for="image" class="form-label">Image URL-1</label>
        <input type="text" class="form-control" name="listing[url]" id="url" placeholder="https://example.com/image1.jpg">
      </div>
      <div class="col-md-6">
        <label for="image" class="form-label">Image URL-2</label>
        <input type="text" class="form-control" name="listing[url]" id="url" placeholder="https://example.com/image2.jpg">
      </div>
      <div class="col-md-6">
        <label for="image" class="form-label">Image URL-3</label>
        <input type="text" class="form-control" name="listing[url]" id="url" placeholder="https://example.com/image3.jpg">
      </div>
      <div class="col-md-6">
        <label for="image" class="form-label">Image URL-4</label>
        <input type="text" class="form-control" name="listing[url]" id="url" placeholder="https://example.com/image4.jpg">
      </div>
      <div class="col-md-6">
        <label for="image" class="form-label">Image URL-5</label>
        <input type="text" class="form-control" name="listing[url]" id="url" placeholder="https://example.com/image5.jpg">
      </div>
      <div class="col-md-6">
        <label for="image" class="form-label">Image URL-6</label>
        <input type="text" class="form-control" name="listing[url]" id="url" placeholder="https://example.com/image6.jpg">
      </div>
      <div class="col-md-6">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" name="listing[location]" id="location" required>
      </div>
      <div class="col-md-6">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" name="listing[country]" id="country" required>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-normal">Create New</button>
      </div>
    </form>
  </div>
</body>